@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
    --color-purple: #A855F7;
    --color-cyan: #22D3EE;
    --color-main: #10011E;
    --color-pink: #EC4899;
}

body {
  background-image: radial-gradient(circle at top left, #160027, #00232d);
  overflow-x: hidden;
  scroll-behavior: smooth;
  @apply  antialiased font-poppins;
}

@layer base{
  button{
    @apply cursor-pointer;
  }
  input:not([type="checkbox"]):not([type="radio"]){
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg;
  }
  textarea{
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg resize-none;
}
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

 /* animation  */
.marquee-inner {
  animation: marqueeScroll 25s linear infinite;
}

.marquee-reverse {
  animation: marqueeScroll 25s linear infinite reverse;
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.move-gradient {
  background: linear-gradient(
    90deg,
    var(--color-purple),
    var(--color-pink),
    var(--color-cyan),
    var(--color-pink),
    var(--color-purple)
  );
  background-size: 400% 400%;
  animation: movegradient 15s ease-in-out infinite;
  border-radius: 10px;
  filter: brightness(1.2);
}

/* Gradient Move Animation */
@keyframes movegradient {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 0% 50%;
  }
}



.animate-gradient {
  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-100px); }
}
