@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
    --color-purple: #A855F7;
    --color-cyan: #22D3EE;
    --color-main: #10011E;
}

body {
  background-image: radial-gradient(circle at top left, #160027, #00232d);
  overflow-x: hidden;
  scroll-behavior: smooth;
  @apply  antialiased font-poppins;
}

@layer base{
  button{
    @apply cursor-pointer;
  }
  input:not([type="checkbox"]):not([type="radio"]){
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg;
  }
  textarea{
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg resize-none;
}
}
@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee-inner {
  animation: marqueeScroll 25s linear infinite;
}

.marquee-reverse {
  animation-direction: reverse;
}
.move-gradient {
    background-image: linear-gradient(to right,var(--color-purple), var(--color-cyan));
    background-size: 200% 100%;
    animation: movegradient 5s infinite;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 3s linear infinite;
}